{% extends "base.html" %}

{% block content %}
<table class="table table-dark table-striped">
        <tr>
            <th scope="col">Producto</th>
            <th scope="col">Inventaario anterior</th>
            <th scope="col">Compras</th>
            <th scope="col">Inventario anterior + compras</th>
            <th scope="col">inventario actual</th>
            <th scope="col">ventas</th>
            <th scope="col">inventario actual + ventas</th>
            <th scope="col">Diferencia</th>
        </tr>

    </thead>
    <tbody>
        {% for inv in inventario %}
        <tr>
            <td scope="row">{{ inv.nombre }}</td>
            <td>{{ inv.inventario_anterior }}</td>
            <td>{{ inv.comprass }}</td>
            <td>{{ inv.inventario_anterior_compras }}</td>
            <td>{{ inv.inventario_actual }}</td>
            <td>{{ inv.ventass }}</td>
            <td>{{ inv.inventario_actual_ventas }}</td>
            <td>{{ inv.diferencia }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}