{% extends "base.html" %}

{% block content %}
    <h1>Inventarios</h1>
    <table class="table table-dark table-striped-columns">
            <thead>
                <tr>
                    {% for attr in inventarios_dicts.0.keys %}
                        <th scope="col">{{attr|capfirst}}</th>
                    {% endfor %}
                </tr>
            </thead>

        <tbody>
            {% for inventario in inventarios_dicts %}
            <tr>
            {% for valor in inventario.values %}
                <td scope='row'>{{ valor }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}